[global]
netbios name = steamdeck
security = user
map to guest = bad user

[emulators]
comment = Steam apps directory
path = /home/deck/Emulation
browseable = yes
read only = no
create mask = 0664
directory mask = 0775
force user = deck
force group = deck